.phone
  sprite('img/sprite-phone-call.svg')
  //width: image-width('img/sprite-phone-call.svg')
  //height: image-height('img/sprite-phone-call.svg')

.settings
  sprite('img/sprite-settings.svg')

.cart
  sprite('img/sprite-shopping-cart.svg')